.title {
    font-family: OpenSans, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #323c48;
    padding-bottom: 16px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    font-family: OpenSans, sans-serif;
    color: #323c48;
    font-size: 14px;
    font-weight: 600;
}

.discountValue {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 8px;
    margin-right: 8px;
    height: 30px;
    border: solid 1px #7e8fa4;
    padding-left: 16px;
    padding-right: 16px;
}