.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  font-family: var(--font-family-primary);
  color: #fff;
  border: none;
  padding: 8px 14px;
  background-color: #323c48;
  transition: background-color 0.2s;
  border: 1px solid #323c48;

  &:hover {
    border-color: #384d66;
    background-color: #384d66;
  }

  &--lg {
    padding: 14px 30px;
    font-size: 18px;
    text-transform: uppercase;
  }

  &--full {
    display: block;
    width: 100%;
  }

  &--light {
    background-color: #fff;
    border-color: #323c48;
    color: #323c48;

    &:hover {
      color: #fff;
    }
  }

  &__spinner {
    margin-left: 0.3em;
  }
}
