.productPageContent {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.productPageFilterWrapper {
  margin-right: 48px;
}

.productPageFilterWrapper > * {
  margin-bottom: 25px;
}
