.products {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.products li {
  width: calc(33% - 18px);
  margin-right: 30px;
  margin-bottom: 25px;
}

.products li:nth-child(3n) {
  margin-right: 0;
}
