.Products {
  display: flex;
  flex-flow: row wrap;

  &Header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-basis: 100%;
    margin-bottom: 55px;
    padding-left: 305px;

    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    color: #323c48;
  }

  &Body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &Sidebar {
    width: 255px;
    margin-top: 100px;
    margin-right: 50px;
  }

  &Main {
    width: 732px;
    margin-left: auto;
  }
}
