.products {
  display: flex;
  flex-flow: row wrap;

  &__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__col {
    &--left {
      max-width: 255px;
      margin-top: 100px;
      margin-right: 50px;
    }
    &--right {
      max-width: 740px;
      margin-left: auto;
    }
  }

  &__filter {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
}
