.Products {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  &Sidebar {
    width: 255px;

    &Left {
      margin-right: 50px;
    }

    &Right {
      margin-left: 50px;
    }
  }

  &Main {
    width: 732px;
    margin-left: auto;
  }
}
