.List {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  min-height: 700px;

  list-style: none;

  &Item {
    margin-bottom: 50px;
    cursor: pointer;

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}
