.categories-block__switch-btn {
  height: 30px;
  margin-right: 16px;
  padding: 0 15px;
  background: transparent;
  border: 1px solid #7e8fa4;
  border-radius: 15px;
  color: #7e8fa4;
  font-size: 14px;
  cursor: pointer;
}

.categories-block__switch-btn:last-of-type {
  margin-right: 0;
}

.categories-block__switch-btn.is-active {
  border-color: #323c48;
  background: #323c48;
}

.categories-block__btn {
  display: block;
  width: 100%;
  height: 32px;
  margin-top: 24px;
  background: transparent;
  border: 1px solid #323c48;
  font-size: 14px;
}
