.products__list-item {
  margin-bottom: 50px;
}

.list-item-products {
  &__price,
  &__sub-price-content {
    font-family: "Open Sans";
    line-height: 1;
    font-weight: 600;
    color: #7E8FA4;
  }
  &__price {
    margin-right: 10px;
    font-size: 20px;
  }
  &__sub-price-content {
    font-size: 12px;
  }
}
