.form {
  display: flex;
  flex-direction: column;
  width: 256px;

  color: #323c48;
}

input {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

.form__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 16px;
}

.range__wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}

.range__input {
  font-size: 14px;
  margin-left: 12px;
  padding-left: 16px;
  /* padding-left: 16px; */
  width: 91px;
  height: 30px;
  color: #7e8fa4;
  border: 1px solid #7e8fa4;
}
