* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  width: 100%;
  margin: 3rem auto;
  padding: 2.1rem 3rem;
  font-family: "Open Sans", sans-serif;
  color: #323c48;
}

button {
  font-family: "Open Sans", sans-serif;
}

.main-section {
  flex: 100% 0 1;
  padding-right: 19.2%;
}
.aside-section {
  flex: 0 0 19.2%;
}

.aside-block {
  max-width: 256px;
  margin-bottom: 25px;
}

.aside-block__title {
  display: block;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.4;
}

.aside-block__row {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 1;
}

h3 {
  font-family: "Open Sans", sans-serif !important;
}
