* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  margin: 3rem auto;
  padding: 2rem 3rem;
  font-family: "Open Sans", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
