body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #323c48;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.goods__header {
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  margin-bottom: 56px;
}

.goods__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.goods__item {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  padding-left: 14px;
}

.goods__item::before {
  content: "•";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
