.filterProducts {
  display: flex;
  flex-flow: row wrap;

  &Header {
    flex-basis: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 1;
    font-weight: 600;
  }

  &Inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    margin-bottom: 25px;

    span {
      font-size: 14px;
      line-height: 1;
      font-weight: 600;
    }
  }

  &Input {
    max-width: 90px;
    padding: 5px;
    padding-left: 10px;

    font-size: 14px;
    font-weight: 300;
    line-height: 1;

    border: 1px solid #7e8fa4;

    transition: all 0.5s;

    &:focus {
      outline: none;
      border: 1px solid #437bbf;
    }

    &Invalid {
      border: 1px solid #bf4343;

      &:focus {
        border: 1px solid #437bbf;
      }
    }
  }

  &Button {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    padding: 10px;

    font-size: 14px;
    line-height: 1;
    color: white;

    border: 1px solid transparent;
    background-color: #323c48;

    transition: all 0.5s;

    &:focus {
      color: #323c48;
      background-color: transparent;
      border: 1px solid #323c48;
      outline: none;
    }

    &:disabled {
      background-color: #7e8fa4;
      cursor: not-allowed;
    }
  }
}
