.App {
  display: flex;

  &Container {
    flex-flow: row wrap;
    justify-content: center;
    min-width: 1442px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
