.Basket {
  display: flex;
  flex-flow: row wrap;

  &Header {
    display: flex;
    flex-flow: row wrap;

    margin: 0;
    margin-left: 8px;
    margin-right: 16px;
    padding: 0;

    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    color: inherit;
  }

  &Wrapper {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 100%;
    align-items: baseline;
    margin-bottom: 16px;
    color: #323c48;
  }

  &Inner {
    position: relative;
    display: inline-flex;
    min-width: 16px;
    height: 20px;
    padding-left: 8px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }

  &Counter {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: inherit;

    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;

    border: 0;

    &:focus {
      outline: none;
    }
  }

  &Ghost {
    display: flex;
    height: inherit;

    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: transparent;
  }

  &Button {
    flex-basis: 100%;
    padding: 8px;
    margin: 0;

    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: #323c48;
    text-align: center;
    text-decoration: none;

    background-color: transparent;
    border: 1px solid #323c48;

    transition: all 0.5s;

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: #323c48;
    }

    &:active {
      color: #ffffff;
      background-color: darken(#323c48, 10%);
      border: 1px solid darken(#323c48, 10%);
    }

    &Disabled,
    &:disabled {
      color: #fff;
      border: 1px solid #c5cfde;
      background-color: #c5cfde;

      cursor: not-allowed;
    }
  }
}
