.products__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;

  &-item {
    margin-bottom: 50px;

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}
