.price-filter {
  --border-color: #7e8fa4;
  --placeholder-color: #7e8fa4;
  padding: 0 48px;
}

.price-filter__fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  padding: 0;
  border: none;
  margin-bottom: 24px;
}

.price-filter__group {
  display: grid;
  grid-auto-flow: column;
}

.price-filter__title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  margin-bottom: 16px;
}

.price-filter__label {
  display: grid;
  align-items: center;
  margin-right: 12px;
  font-size: 1.4rem;
  font-weight: 600;
}

.price-filter__input {
  width: 91px;
  padding: 8px 16px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%;
  border: 1px solid var(--border-color);
}
.price-filter__input::placeholder {
  color: var(--placeholder-color);
}

.price-filter__submit {
  width: 100%;
  padding: 9px 88px;
  border: none;
  font-size: 1.4rem;
  background-color: var(--font-color);
  color: var(--background-color);
}
