.filter {

  &Row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  &Submit {
    border: none;
    background: #323C48;
    color: #fff;
    text-align: center;
    font-weight: 300;
    line-height: 32px;
    width: 100%;
    display: block;
    font-size: 14px;
  }
}
