.checkboxCategory {
  display: inline-block;
  margin-right: 16px;
  user-select: none;
  position: relative;
}

.checkboxCategory input[type="checkbox"] {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.checkboxCategory span {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background: #fff;
  border: 1px solid #7e8fa4;
  border-radius: 15px;
  color: #7e8fa4;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.checkboxCategory span:hover {
  background: #87a1c2;
  border: 1px solid #87a1c2;
  color: #fff;
}

.checkboxCategory span:active {
  background: #1dc29c;
  border: 1px solid #1dc29c;
  color: #fff;
}

.checkboxCategory input[type="checkbox"]:focus + span {
  border: 1px solid #004a9a;
}

.checkboxCategory input[type="checkbox"]:checked + span {
  background: #323c48;
  border: 1px solid #323c48;
  color: #fff;
}
