.btn {
  height: 30px;
  padding: 0 15px;
  margin: 0 5px;
  border: solid 1px #7e8fa4;
  background: #ffffff;
  color: #7e8fa4;
  text-align: center;
}

.btnPage {
  width: 30px;
  padding: 0;
}

.btnPageActive {
  background: #5695ed;
  border: solid 1px #5695ed;
  color: #ffffff;
}
