.goods {
  font-family: OpenSans, sans-serif;
  color: #323c48;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 224px;
}

.goodsNone {
  color: #7e8fa4;
}

.goodsType {
  color: #41ce7f;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom-right-radius: 15px;
  z-index: 1;
  padding-top: 15px;
  padding-right: 11px;
  padding-bottom: 15px;
  padding-left: 12px;
}

.goodsTypeNone {
  background-color: #f5f6fa;
  color: #7e8fa4;
}

.goodsImg {
  box-shadow: 0 4px 8px 0 rgba(50, 60, 72, 0.1);
}

.goodsImgNone {
  opacity: 0.5;
}

.goodsName {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 8px;
}

.goodsPrise {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 8px;
}
