.goods {
  font-family: OpenSans, sans-serif;
  color: #323c48;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.goodsImgBlock {
  position: relative;
}

.goodsNone {
  color: #7e8fa4;
}

.goodsType {
  color: #41ce7f;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom-right-radius: 15px;
  z-index: 1;
  padding-top: 15px;
  padding-right: 11px;
  padding-bottom: 15px;
  padding-left: 12px;
}

.goodsTypeNone {
  background-color: #f5f6fa;
  color: #7e8fa4;
}

.goodsImg {
  box-shadow: 0 4px 8px 0 rgba(50, 60, 72, 0.1);
}

.goodsImgNone {
  opacity: 0.5;
}

.goodsDetails {
  display: flex;
  flex-direction: column;
}

.goodsName {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #323c48;
}

.goodsNameLink:hover {
  color: #ffdd00;
}

.goodsPriceBlock {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
}

.goodsPrice {
  margin-right: 20px;
}

.goodsDiscount {
  font-size: 14px;
  color: #00b63e;
}

.goodsRating {
  display: inline-flex;
  margin-bottom: 10px;
}

.detailMode {
  flex-direction: row;
}

.detailMode .goodsImgBlock {
  margin-right: 40px;
}
