.goods {
  margin: auto;
  width: 300px;
}

.goods h1 {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.goods ul {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 32px;
  padding: 0;
  margin-left: 20px;
  margin-top: 60px;
}
