:root {
  font-size: 16px;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, Segoe UI, Tahoma, sans-serif;
  min-height: 100vh;
}

.app {
  display: flex;
}

.title {
  font-size: 36px;
  line-height: (48/36);
  font-weight: 300;
}

.products {
  margin: auto;

  &__title {
    margin-bottom: 56px;
  }

  &__list {
    padding: 0;
    margin: 0;
    line-height: 2;
    list-style-position: inside;
  }
}
