body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.App {
  text-align: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.caption {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.products {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.products__item {
  color: #030303;
  letter-spacing: 0.5px;
}