.products__header {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 55px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  color: #323C48;
}
